.btn-text-right{
        text-align: right;
}

.rotate-bottom{animation:rotate-bottom 0.4s linear} @keyframes rotate-bottom{0%{transform:rotate(0);transform-origin:bottom}100%{transform:rotate(360deg);transform-origin:bottom}}

.blur-out{animation:blur-out 0.4s linear both} @keyframes blur-out{0%{filter:blur(.01px);}100%{filter:blur(12px);opacity:0}}